form
{
   padding: 3rem 2rem;
}

input[type=text],
input[type=email]
{
    width: 100%;
    padding: 10px 16px;
    margin: 4px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #799AED;
}

input[type=text]:focus,
input[type=email]:focus
{
    border-bottom: 1px solid #EDCC79;
}

input[type=button]
{
    margin: 20px 0px;
    padding: 8px 24px;
    width: 100%;
}

form > label
{
    font-size: 0.7rem;
    font-weight: bold;
    color: #799AED;
}